# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Local MLOps outputs
tourism_mlops_project/mlruns/
tourism_mlops_project/prepared_data/

# Trained model and deployment artifacts
*.joblib
tourism_mlops_project/artifacts/

# OS files
.DS_Store
Thumbs.db
